{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col text-center mt-3">
                <h2 class=>Suppliers</h2>
                <hr class="w-50 mb-1">
                <h4>Where we get our coffee from</h4>
            </div>
        </div>
        <!-- Display suppliers -->
        <div class="row">
            <div class="classes-container col-10 offset-1">
                <div class="row">
                {% for supplier in suppliers_list %}
                    <div class="col-sm-6 col-md-6 col-lg-6 mt-2 mb-2">
                        <div class="card mb-4 h-100 text-center border-0">
                            <div class="card-title">
                                <h2>{{ supplier.supplier_name }}</h2>
                            </div>
                            <div class="card-body justify-content-md-center">
                                <div class="image-container">
                                    {% if supplier.supplier_image %}
                                        <a rel="nofollow" href="{{ supplier.supplier_website }}" class="post-link" target="_blank">
                                            <img class="card-img-top" src="{{ supplier.supplier_image.url }}" alt="supplier-image">
                                        </a>
                                    {% else %}
                                        <a rel="nofollow" href="{{ supplier.supplier_website }}" class="post-link" target="_blank">
                                            <img class="card-img-top" src="{{ MEDIA_URL }}noimage.png" alt="supplier-image">
                                        </a>
                                    {% endif %}
                                    <p>{{ supplier.supplier_bio }}</p>
                                </div>
                                <div class="card-footer">
                                    <p>Visit {{ supplier.supplier_name }}
                                        <a rel="nofollow" href="{{ supplier.supplier_website }}" class="post-link" target="_blank">
                                            here</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                {% if forloop.counter|divisibleby:3 %}
                </div>
                <div class="row">
                {% endif %}
                {% endfor %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}